@tailwind base;
@tailwind components;
@tailwind utilities;


h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2 !important;
  padding: 3px, 2px;

}
h1{
  font-weight: 600;
  line-height: 1.2 !important;
  font-size: 24px;
  padding: 3px, 2px;
}
h3{
  font-weight: 600;
  line-height: 1.2 !important;  
  font-size: 18px;
  padding: 3px, 2px;
}
.command-palette .command-palette-content{

    font-family: "iA Writer Mono", monospace !important;
}
@media (prefers-color-scheme: dark) {
  body {
    /* font-weight: 400; */
    -webkit-app-region: drag;
    background: #1e1e1e;
    color: white;
    font-family: "iA Writer Mono", monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    letter-spacing: 0.055em;
    line-height: 1.6;

  }
  .ButtomBar {
    background-color: #100f11;
  }
  mark {
    background-color: #ff9a9e;
    display: "block";
    border: 1px solid #b3d4fc;
    border-color: #b3d4fc;
}
.util{
    border-top: 1px solid #2d2d2d;
    min-width: 18.5em;
    max-width: 18.5em;
    width: 18.5em;
    height: 28.5px;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
   

}

.files:hover {
  background-color: #2d2d2d;
  border-radius: 3px;
}


  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "iA Writer Duospace",monospace;
    line-height: 10px;
    color: #c9d1d9;
    vertical-align: middle;
    background-color: #161b22;
    border: 1px solid rgba(110, 118, 129, 0.4);
    border-bottom-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
  }

  pre {
    font-family: "iA Writer Mono", monospace;
    background-color: #232223;
    border-radius: 5px;
    margin: 10px;
  }
  code{
    background-color: #232223;
  }

    hr{
    border: 1px solid #252525;
  
  }
  .fs {
    background-color: #100f11;
    border-right: 1px solid #2d2d2d;
    user-select: none;
  }
  .fileBody{
     padding: 0 10px 10px 10px; 

  }
 

  b {
    font-weight: bold;
    color: #fff;
  }
  .whites {
    color: #fff;
  }

  .greys {
    color: grey;
  }
  .selected::before{
    content: "• ";
  
  }
  table, th, td {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
  }

  ::selection {
    background: #f0f0f0;
    color: black;
  }


}
.createFile{
  background-color: transparent;
  outline: none;
  padding-left: 22px;

}

strong{
  font-weight: 900;
}

@media (prefers-color-scheme: light) {
  body {
    /* font-weight: 600; */
    -webkit-app-region: drag;
    fill: currentColor;
    background: #fff;
    color: rgb(55, 53, 47);
    font-family: "iA Writer Mono", monospace;
    font-size: 85%;
    -webkit-font-smoothing: auto;
    letter-spacing: 0.055em;
    line-height: 1.6;



  }

  .util{
    border-top: 1px solid #ddd;
    min-width: 18.5em;
    max-width: 18.5em;
    width: 18.5em;
    height: 28.5px;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;

}

.files:hover {
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

  mark{
    background-color: #b3d4fc;
    display: "block";
    border: 1px solid #b3d4fc;
    border-color: #ff9a9e;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "iA Writer Mono",monospace;
    line-height: 10px;
    color: black;
    vertical-align: middle;
    background-color: #f6f8fa;
    border: 1px solid rgba(175, 184, 193, 0.2);
    border-bottom-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
  }

  table, th, td {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  .ButtomBar {
    background-color: #fbfbfb;
    border-top: 1px solid #ddd; 


  }

  pre {
    font-family: "iA Writer Mono", monospace;
    background-color: rgb(222, 226, 230);
    border-radius: 5px;
    margin: 10px;
  }

  code{
    background-color: rgb(222, 226, 230);
  }

  .fs {
    background-color: #fbfbfb;
    border-right: 1px solid #ddd;
    color: rgb(73, 80, 87) ;
    user-select: none;
  }
  .fs p{
    color: rbg(73, 80, 87)  !important;
  }
  .fileBody{
     padding: 0 10px 10px 10px; 

  }

  b {
    font-weight: bold;
    color: black;
  }

  .whites {
    color: black;
  }

  .greys {
    color: grey;
  }
  .selected::before{
    content: "• ";
    color: rbg(73, 80, 87) !important;
    ;
  
  }
  hr{
    border: 1px solid #7c7c7c;
  
  }

  ::selection {
    background: #b3d4fc;
  }
}

li { 
   list-style: disc; 
   margin-bottom: 10px; 
  padding: 3px, 2px;

 } 
ul,
ol {
  margin-left: 2em;
}


hr {
  margin-bottom: 2em;
  margin-top: 2em;
}

img, video, iframe {
  margin-top: 1em;
  margin-bottom: 1em;
  animation: cool-fadein 1s;
    object-fit: cover;
    border-radius:4px;
}
@keyframes cool-fadein {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /
      400% no-repeat;
    opacity: 0.2;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
      no-repeat;
    opacity: 1;
  }
}

blockquote {
  border-left: 2px solid grey;
  padding-left: 0.7em;
  margin-inline-end: 0;
}
textarea{
  -webkit-app-region: no-drag;
  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
    resize: none !important;
}
textarea:focus-visible {
  outline: none;
}

code {
    font-family: "iA Writer Mono", monospace;
    padding: 0.2em 0.4em;
    white-space: pre-wrap;


}
pre code {
  display: block;
  border-radius: 5px;
  padding: 1em; 

 }

p {
  margin: 0.8em 0;
}
a {
  border-bottom: 1px solid #7c7c7c;;
}

.mainer {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.third {
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes animateIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#markdown-content{
  cursor: text;
}



.katex-display{
 margin: 2em;
}

th,td {
  padding: 5px
}


*::-webkit-scrollbar {
  display:none;
}

hr{
  margin-left: 6em;
  margin-right:6em; 
  }

.Closed:before{
  content: '\203A'; /* chevron */
  text-align: center;
  margin: 0 5px;

}

.Opened:before{
  content: '\203A'; /* chevron */
  display: inline-block;
  transition: 0.2s;
  transform: rotate(90deg);
  margin: 0 5px;
}

summary {
  display: block;
}

summary::before {
  margin-left: 1ch;
  display: inline-block;
  transition: 0.2s;
  content: '\203A'; /* chevron */
}
details[open] summary::before {
  transform: rotate(90deg);
}


