@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
    font-family: "iA Writer Duospace", sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
    font-family: "iA Writer Duospace", sans-serif;
  }
}

li{
    list-style: circle;
}
ul{
    margin-left: 2em;
}

h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

blockquote{
    border-left: 2px solid grey;
    padding-left: 0.7em;
    margin-inline-end: 0;
}

