@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.drag {
  -webkit-app-region: drag;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
    color: #e5e5e5 !important;
  }
  .ButtomBar{
    background-color: #000000 !important;
  }
  .command-palette .bg-gray-900{
    background-color: rgb(0 0 0/0.9) !important;
  }
  .command-palette .dark\:bg-gray-800{
    background-color: rgb(255,255,255,0.075) !important;
  }
  .command-palette .dark\:hover\:bg-gray-800:hover{
    background-color: rgb(255,255,255,0.075) !important;
  }

  .command-palette .dark\:bg-gray-900{
    background-color: rgb(0 0 0/1) !important;
  }
  pre{
    background-color: hsl(0 0% 8.5%) !important;
    box-shadow: 0 0 0 1px hsl(0 0% 8.5%) !important;
  }
  .command-palette .dark\:bg-gray-900{
    background-color: #000000;
  }
  .custom-border {
    border-color: rgb(31 31 31/1) !important;
  }
  hr {
    border-color: rgb(31 31 31/1) !important;
  }
  .cm-scroller {
    background-color: #000000 !important;
    outline: none;
  }
  table{
    border-color: rgb(31 31 31/1) !important;
    border-radius: 6px;
  }
  .topbar{
    background-color: #000000 !important;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: rgb(55, 53, 47) !important;
  }
  .topbar{
    background-color: #fff !important;
  }
  pre{
    background-color: #EDEDED !important;
  }
  .ButtomBar{
    background-color: #fff !important;
  }

}

table,
th,
td {
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid ;
}
th,
td {
  padding: 5px;
}
/*font-family: "Satoshi-Regular", "Nunito", "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
*/
body {
  fill: currentColor;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05em;
  line-height: 1.6;
}
h1 {
  font-weight: 600;
  line-height: 1.2 !important;
  font-size: 24px;
  margin: 15px 0;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2 !important;
  margin: 15px 0;
}
h3 {
  font-weight: 600;
  line-height: 1.2 !important;
  font-size: 18px;
  margin: 15px 0;
}

.ͼ1.cm-editor.cm-focused {
  outline: none;
}
code {
  white-space: pre-wrap;
  font-family: JetBrains Mono, ui-monospace, Menlo, Monaco, "Segoe UI Mono",
    "Roboto Mono", monospace !important;
}
pre code {
  border-radius: 6px;
  align-items: center;
  overflow-x: auto;
}
pre {
  font-family: JetBrains Mono, ui-monospace, Menlo, Monaco, "Segoe UI Mono",
    "Roboto Mono", monospace !important;
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 31.2%);
  padding: 1rem;
  margin: 1rem 0;
  
}

p {
  margin: 0.8em 0;
}

hr {
  margin: 1.5em 0;
}
#previewArea li {
  padding-top: 0.075em;
  padding-bottom: 0.075em;
}

#previewArea ul,
ol {
  margin-left: 2em;
  margin-top: 1em;
}

#previewArea ul > li {
  list-style: disc;
}
#previewArea ol > li {
  list-style: list-number;
}
u {
  text-decoration: underline;
}

.ͼo .cm-vimMode .cm-line ::selection {
    background-color: #f0f0f0 !important;
    color: black !important;
  }

  .ͼo .cm-vimMode .cm-line::selection {
    background-color: #f0f0f0 !important;
    color: black !important;
  }

  .ͼz.cm-focused .cm-selectionBackground .cm-selectionBackground,
  .ͼz .cm-selectionLayer .cm-selectionBackground,
  .ͼz ::selection {
    background-color: #f0f0f0 !important;
    color: black !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/fonts/Satoshi-Variable.woff') format('woff'),
       url('/fonts/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-VariableItalic.woff') format('woff'),
       url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Light';
  src: url('/fonts/Satoshi-Light.woff2') format('woff2'),
       url('/fonts/Satoshi-Light.woff') format('woff'),
       url('/fonts/Satoshi-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('/fonts/Satoshi-LightItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-LightItalic.woff') format('woff'),
       url('/fonts/Satoshi-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('/fonts/Satoshi-Regular.woff') format('woff'),
       url('/fonts/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
       url('/fonts/Satoshi-Italic.woff') format('woff'),
       url('/fonts/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/Satoshi-Medium.woff') format('woff'),
       url('/fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('/fonts/Satoshi-Bold.woff') format('woff'),
       url('/fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Black';
  src: url('/fonts/Satoshi-Black.woff2') format('woff2'),
       url('/fonts/Satoshi-Black.woff') format('woff'),
       url('/fonts/Satoshi-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-BlackItalic.woff') format('woff'),
       url('/fonts/Satoshi-BlackItalic.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: italic;
}
